@import url('https://fonts.googleapis.com/css?family=Roboto');


.Digital {
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: 10px;
}


* {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  float: left;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin: 80px 0px 50px 0px;
}

h2 {
  display: block;
  width: 90%;
  max-width: 700px;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  line-height: 1.25em;
  margin: 30px auto;
}

.App {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  background: rgba(40, 49, 59, 0.5);
  color:#fff;
}

.App-Container {
  width: 100%;
  min-height: 400px;
}

.App-Container .Link {
  margin: 10px 10px;
  font-size: 18px;
}

.Header {
  float: left;
  width: 100%;
  height: 120px;
  padding: 20px 10px 10px 10px;
  background: rgba(40, 49, 59, 1.0);
}

.Header .Logo {
  float: left;
  width: 200px;
  height: 100%;
  padding: 10px 10px;
}

.Logo img {
  float: left;
  height: 100%;
}

.Menu {
  float: left;
  height: 100%;
  padding: 40px 10px;
}

.Menu a {
  float: left;
  width: 80px;
  font-size: 12px;
  text-align: left;
  color: #EEEEEE;
}

.P2020 {
  float: right;
  width: 100px;
  height: 100%;
  padding: 22px 10px 10px 10px;
}

.P2020 img {
  float: right;
  width: 150px;
}

.P2020 p {
  float: right;
  width: 150px;
  font-size: 8px;
  text-align: center;
  margin: 3px 0px 0px 0px;
  color: #EEEEEE;
}

.Footer {
  flex-basis: auto;
  width: 100%;
  height: 250px;
  padding: 80px 20px 80px 20px;
  background: rgba(40, 49, 59, 1.0)
}

.Footer p {
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin: 10px 0px;
}

.Footer p.Info {
  font-size: 14px;
  color: #FFFFFF;
}

.Main {
  float: left;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px 50px 0px;
}

.Main img {
  width: 100%;
}

.Portfolio {
  position: relative;
  float: left;
  width: 100%;
  margin: 0px auto;
  min-height: 400px;
  background: #FFFFFF;
  background: #235073;
  color: #000000;
}

.Cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: 0px auto;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 150px;
  margin: 20px 0px;
  padding: 20px 20px;
}

.Card .img-container {
  float: left;
  width: 90%;
  max-width: 200px;
  height: 100px;
  margin: 0px auto;
}

.Card img {
  width: 100%;
  margin: 0px auto;
}

.Card .text-container {
  float: left;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 10px 0px 30px 0px;
  margin: 0px auto;
  font-size: 20px;
}

.Card p {
  color: #FFFFFF;
  font-weight: 200;
  line-height: 1.25em;
  text-align: center;
}


@media only screen and (max-width: 800px) {
  .Cards {width: 100%;}
}