.Button                     { position: relative; display: block; width: 120px; height: 30px; margin: 10px 10px; padding: 0px 5px;
                              border-radius: 0px; border: 1px solid #CCCCCC; text-align: center; font-size: 14px;
                              font-weight: 200; cursor: pointer; user-select: none; }
.Button.Row                 { width: 100%; margin: 20px 0px; border-radius: 4px; }
.Button.L                   { width: 220px; height: 40px;  border-radius: 4px; font-size: 15px; font-weight: 600; }
.Button.S                   { width: 32px; height: 30px; }
.Button.Round               { width: 40px; height: 40px; border-radius: 50%; border: 0px; }
.Button.Clear               { background: var(--RED); color: #FFFFFF; }
.Button.Action              { border: 0px; background: var(--BLUE); color: #FFFFFF; }
.Button.Inactive            { border: 0px; background: #BBBBBB; color: #EEEEEE; font-style: italic; cursor: not-allowed; }

.Button.Link                { width: auto; height: auto; margin: 0px auto; background: transparent; border: 0px;
                              color: var(--BLUE); font-style: italic; }
.Button.Link.Clear          { color: var(--RED); }

.Button .Icon               { position: absolute; right: 10px; top: 10px; }
.Button .Icon.Before        { left: 10px; }

.Button.Selected            { background: var(--BLUE); color: #FFFFFF; }