.Section.Page.Auth          { max-width: 10000px; }
.Login                      { position: relative; width: 340px; height: 510px; margin-top: 100px;
                              border-radius: 10px; padding: 30px 30px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                              background: #FFFFFF; font-size: 14px; font-weight: 200; color: #777777; }
.Login .LogoContainer       { display: block; float: left; width: 100%; height: 160px; text-align: center; }
.Login .Logo                { display: inline-block; float: none; margin-top: 40px; }
.Login .MessageBox          { display: block; float: left; width: 100%; height: 200px; }
.Login h2                   { float: left;  margin: 0px; color: var(--BLUE); font-weight: 400; user-select: none; }
.Login h2.Err               { color: var(--RED); margin: 0px; }
.Login .Form                { width: 100%; height: 200px; }
.Login .Button              { width: calc(100% - 10px); margin: 0px auto; }
.Login .Button.cancel       { margin-top: 15px; }
.Login .Link1,
.Login .Link2               { width: 100%; margin: 10px auto; padding: 0px; font-size: 14px; font-weight: 400;
                              color: var(--BLUE); text-align: center; font-style: italic; cursor: pointer; user-select: none; }
.Login .Link1               { margin: 10px auto; color: var(--BLUE); }
.Login .Link2               { margin: 0px auto; font-size: 12px; font-weight: 200; color: #555555; }
.Login .Link2:hover         { color: var(--BLUE) } 
.Login .Link1.Cancel        { color: var(--RED);}
.Login .MessageBox p        { width: 100%; border: 0px; padding: 20px; font-size: 20px; text-align: center; }
.Login .MessageBox p.Err    { color: var(--RED); }
