
.Menu                                           { display: flex; margin: 10px; text-align: center; user-select: none; }
.Menu .Wrapper                                  { position: relative; float: left; font-size: 15px; font-weight: 300; cursor: pointer; }
.Menu .Button                                   { margin: 0px 0px; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0); }
.Menu li, .Menu a                               { display: block; margin: 10px 10px; padding: 5px 10px;
                                                  font-size: 16px; text-align: center; cursor: pointer; user-select: none; }

.Menu li:hover,
.Menu a:hover,
.Menu li.Selected,
.Menu a.Selected                                { color: var(--BLUE); border-bottom: 2px solid var(--BLUE); }
.Menu .Inactive,
.Menu .Inactive:hover                           { color: #CCCCCC; border-bottom: 0px!important; cursor: default; }

.Menu.L li, .Menu.L a                           { font-size: 20px; }
.Menu.XL li, .Menu.XL li                        { font-size: 24px; }

.Menu.Vertical                                  { width: 150px; flex-wrap: wrap; flex-direction: row; align-items: flex-start;
                                                  margin: 10px; padding: 10px 0px;}
.Menu.Vertical .Wrapper                         { width: 100%; height: 30px; }
.Menu.Vertical li,
.Menu.Vertical a                                { display: inline-block; width: auto; margin: 0px auto; padding: 5px 5px; text-align: center; }

.Menu.Buttons                                           { margin: 10px 10px; padding: 5px 10px; }
.Menu.Buttons .Wrapper .Button                          { border: 1px solid #777777; border-right: 0px solid #777777; }
.Menu.Buttons .Wrapper:last-of-type .Button             { border-right: 1px solid #777777; }
.Menu.Vertical.Buttons                                  { margin: 10px 10px; padding: 5px 10px; }
.Menu.Vertical.Buttons .Wrapper .Button                 { border: 1px solid #777777; border-bottom: 0px solid #777777; }
.Menu.Vertical.Buttons .Wrapper:last-of-type .Button    { border-bottom: 1px solid #777777; }

.Menu.Icons                                     { margin: 10px 10px; }
.Menu.Icons .Wrapper                            { width: 30px; height: 30px; border: 1px solid #777777;
                                                  border: 1px solid #777777; border-right: 0px solid #777777; }
.Menu.Icons .Wrapper:last-of-type               { border-right: 1px solid #777777; }
.Menu.Vertical.Icons                            { width: 30px; margin: 0px 10px; }
.Menu.Vertical.Icons .Wrapper                   { border: 1px solid #777777; border-bottom: 0px solid #777777; }
.Menu.Vertical.Icons .Wrapper:last-of-type      { border-bottom: 1px solid #777777; }
.Menu.Icons .Icon                               { position: absolute; top: 6px; left: 7px; }                

.Menu.Pulldown                                  { display: block; width: 50px; height: 50px; margin: 0px; }
.Menu.Pulldown .Options                         { position: absolute; top: 70px; right: 20px; width: 200px; min-height: 150px; padding: 10px 10px;
                                                  background: #333333; text-align: right; z-index: 2; opacity: 1; }
.Menu.Pulldown .Wrapper                         { width: 100%; }
.Menu.Pulldown li,
.Menu.Pulldown a                                { float: right; width: auto; margin: 2px 0px; padding: 5px 0px;
                                                  text-align: right; color: #EEEEEE; font-size: 15px;  }
.Menu.Pulldown li.Selected,
.Menu.Pulldown a.Selected                       { float: right; width: auto; }
.Menu.Pulldown li:hover,
.Menu.Pulldown a:hover                          { color: var(--BLUE); }

.Menu.Item .Wrapper                             { margin: 10px; }

.Menu .Icon.up path,
.Menu .Icon.down path,
.Menu .Icon.left path,
.Menu .Icon.right path                          { fill: #555555; }