*                 { box-sizing: border-box; margin: 0px; padding: 0px; }
a, a:hover        { text-decoration: none; cursor: pointer; }
a                 { font-weight: 300; color: #333333; font-weight: 400; }
li                { list-style-type: none; font-weight: 300; }
h1                { text-align: center; font-size: 28px; font-weight: 300; }
h2                { text-align: center; font-size: 24px; font-weight: 300; }
h3                { text-align: left; font-size: 20px; font-weight: 300; }
p                 { font-size: 18px; text-align: center; font-weight: 300; line-height: 1.5; max-width: 1000px; text-align: left; }
span              { font-weight: 400; }
button            { background: transparent; }
img               { user-select: none; }

/* html              { scroll-behavior: smooth; } */
body              { font-family: 'Open Sans', sans-serif; font-weight: 700; color: #333333; }

.App {
  --BLACK: #000000;
  --BLUE: #61C0DF;
  --GREEN: #00c9c4;
  --RED: #ff7878;
  --ORANGE: #c26956;
  --ORANGE1: #E64A19;
}

.Section          { display: flex; flex-wrap: wrap; align-items: flex-start; flex-direction: row; overflow: visible; }

.Section.App,
.Section.AppContent,
.Section.Header,
.Section.Footer     { position: relative; flex-direction: column; }

.Section.App        { position: relative; height: 100%; background: #FFFFFF; }
.Section.Page       { position: relative; width: 100%; height: 100%; min-width: 420px; max-width: 1300px; margin: 0px auto; overflow: visible; }

.Section.Main,
.Section.H,
.Section.Row,
.Section.Box        { flex-direction: row; padding: 10px 10px; }

.Section.Header     { width: 100%; height: 70px; margin: 0px auto; display: flex; background: #FFFFFF; overflow: visible; }
.Section.Footer     { width: 100%; background: #343030; color: #FFFFFF }
.Section.AppContent { position: relative; width: 100%; height: 100%; margin: 0px auto; background: #FFFFFF;}
.Section.W100       { width: 100%; }
.Section.Row        { width: 100%; height: 50px; }
.Section.Box        { width: 300px; height: 300px;}

.Section.AppContent .Section.Page { min-height: 800px; }

.Section.CenterH    { justify-content: center; }
.Section.CenterV    { align-items: center; }

.Section.Bar        { height: 50px; padding: 5px 10px; border-bottom: 2px solid transparent; }
.Section.Row        { height: auto; }

.Section img.SectionImage       { flex-basis: 100%; height: 400px; margin: 0px auto; object-fit: cover; object-position: 0% 25%; }
.Section h2                     { flex-basis: 100%; width: 100%; margin: 30px 0px;padding: 20px; text-align: center; }
.Section h3                     { flex-basis: 100%; width: 100%; margin: 10px 0px;padding: 10px; text-align: center; }
/* .Section p                      { flex-basis: 100%; padding: 10px; } */
.Section p                      { padding: 10px; }
.Section .SectionBack           { flex-basis: 100%; justify-content: center; }
.Section .SectionBack .Icon.top { margin: 0px auto; }

  
@media only screen and (max-width: 667px) {
  .Section { width: 100%; }
}
  
/* @media only screen and (max-width: 600px) {
  .w100 {width: calc(100%) !important; margin: 10px 0px !important;}
  .w75, .w80 {width: calc(50% -20px) !important;}
  .w50 {width: calc(50% -20px) !important;}
  .w25, .w20 {width: calc(50% -20px) !important;}
} */

.Background {
  /* background-image: url('./assets/background.png');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  background-size: cover;
}
