*                 { box-sizing: border-box; margin: 0px; padding: 0px; }
a, a:hover        { text-decoration: none; cursor: pointer; }
a                 { font-weight: 300; color: #333333; font-weight: 400; }
li                { list-style-type: none; font-weight: 300; }
h1                { text-align: center; font-size: 28px; font-weight: 300; }
h2                { text-align: center; font-size: 24px; font-weight: 300; }
h3                { text-align: left; font-size: 20px; font-weight: 300; }
p                 { font-size: 18px; text-align: center; font-weight: 300; line-height: 1.5; max-width: 1000px; text-align: left; }
span              { font-weight: 400; }
button            { background: transparent; border: 0px; }
img               { user-select: none; }

input                                         { border: 0px; }
input:focus, textarea:focus, button           { outline: none; }
input::-webkit-credentials-auto-fill-button   { display: none !important; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }


/* html, body                    { overflow: hidden; } */
html                          { scroll-behavior: smooth; }
body                          { font-family: 'Open Sans', sans-serif; height: 100vh; }

/* .App { */
:root {
  --color-B0: #FFFFFF;
  --BG1: #FFFFFF;
  --BG2: #F6F6F6;
  --BH3: #E2E1E2;
  --BLACK: #000000;
  --BLUE: #39BCE0;
  --DARK-BLUE: #0F79AD;
  --BLUE1: #61C0DF;
  --BLUE2: #0288D1;
  --GREEN: rgb(15, 179, 129);
  --DARK-GREEN: #0C9C8C;
  --RED: #EB8890;
  --ORANGE: #c26956;
  --ORANGE1: #E64A19;
}

.Section                        { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; 
                                  justify-content: flex-start; align-items: flex-start; align-content: flex-start;
                                  width: 100%; height: auto; background: var(--color-B0);
                                  color: #333333; font-weight: 700; overflow: visible; }

.Section.App,
.Section.Main,
.Section.Header,
.Section.Footer                 { flex-direction: column; }

.Section.App                    { height: 100%;}
.Section.Header                 { width: 100%; height: 70px; padding: 0px 0px; background: #FFFFFF; margin: 0px auto; }
.Section.Footer                 { width: 100%; height: auto; padding: 0px 0px; background: #343030; color: #FFFFFF; }
.SPA .Section.Footer            { height: 80px; }
.Section.Page                   { flex: 1; width: 100%; min-width: 420px; min-height: calc(100vh - 150px); 
                                  margin: 0px auto; padding: 0px 0px; overflow: auto; }
.Section.Main                   { width: 100%; height: auto; min-height: calc(100vh - 150px); margin: 0px auto; padding: 0px; }
.SPA .Section.Main              { height: calc(100vh - 150px); }
.MaxWidth                       { max-width: 1300px; }
.Header .Page,
.Footer .Page                   { background: transparent; }

.Section.Sidenav                { width: 250px; background: #333333; color: #FFFFFF; }
.SPA .Sidenav                   { height: calc(100vh - 150px); }
.Section.Sidenav h2             { text-align: left; }
.Section.Sidepanel              { width: calc(100% - 250px); background: #EEF0F4; }
.SPA .Sidepanel                 { height: calc(100vh - 150px); }
.Section.White                  { background: #FFFFFF; }
.Section.W100                   { width: 100%; }
.Section.Row                    { width: 100%; height: auto; min-height: 50px; }
.Section.Bar                    { height: 50px; padding: 5px 10px; border-bottom: 2px solid transparent; }
.Section.Box                    { width: 420px; height: 300px; margin: 20px 20px; padding: 20px 20px; }
.Section.Row                    { padding: 10px 10px; margin: 10px 10px; }

.Section.CenterH                { justify-content: center; }
.Section.CenterV                { align-items: center; }

.Section img.SectionImage       { flex-basis: 100%; height: 400px; margin: 0px auto; object-fit: cover; object-position: 0% 25%; }
.Section h2                     { flex-basis: 100%; width: 100%; margin: 30px 0px;padding: 20px; text-align: center; }
.Section h3                     { flex-basis: 100%; width: 100%; margin: 10px 0px;padding: 10px; text-align: center; }
.Section p                      { padding: 10px; }
.Section .SectionBack           { flex-basis: 100%; justify-content: center; }
.Section .SectionBack .Icon.top { margin: 0px auto; }

.Section .Error                 { width: 100%; height: 200px; justify-content: center; align-items: flex-start;
                                  border: 1px solid #333333; border-radius: 4px; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
.Section .Error h2              { flex-basis: 100%; margin: 0px; }
.Section .Error p               { margin: 10px; }

.Box                            { background: #FFFFFF!important; box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.1)!important; }
.Container                      { float: left; height: 100%; overflow-y: auto; }

.Expand                         { position: fixed!important; top: 0px; left: 0px; width: 100vw; height: 100vh;
                                  justify-content: center; align-items: center; background: #FFFFFF;
                                  z-index: 10; }
  
@media only screen and (max-width: 667px) {
  .Section { width: 100%; }
}
  
/* @media only screen and (max-width: 600px) {
  .w100 {width: calc(100%) !important; margin: 10px 0px !important;}
  .w75, .w80 {width: calc(50% -20px) !important;}
  .w50 {width: calc(50% -20px) !important;}
  .w25, .w20 {width: calc(50% -20px) !important;}
} */

.Background {
  /* background-image: url('./assets/background.png');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  background-size: cover;
}
