
.Footer p.Title     { width: 100%; margin: 0px; font-size: 18; text-align: center; }
.Copyright          { display: block; width: auto; height: 100%; margin: 0px auto; padding: 10px; }
.Copyright p        { font-size: 12px; text-align: center;}