.Card         { display: flex; flex-wrap: wrap; }

.Card         { flex-basis: 40%; min-width: 300px; margin: 20px 20px; overflow: hidden;  }
.Card img     { flex-basis: 100%; height: 200px; margin: 0px auto; object-fit: cover; object-position: 0% 25%; }
.Card h3      { flex-basis: 100%; width: 100%; margin: 10px 0px 0px 0px;padding: 0px 20px; text-align: center; }
.Card p       { flex-basis: 100%; padding: 0px 20px; font-size: 16px; line-height: 1.4; }

.Card.Small       { width: 200px; height: 200px; }
.Card.Small img   { width: 200px; height: 150px; }


.Card.Doclink    { position: relative; flex-basis: 100%; height: 45px; margin: 5px 10px; padding: 0px 10px;
                   border-radius: 5px; background: #CCCCCC; }
.Card.Doclink p  { display: block; font-size: 16px; padding: 12px 20px; text-align: left; font-weight: 400; color: #333333; }

.Card.Doclink .Icon.download     { position: absolute; top: 15px; right: 40px; }
.Card.Doclink .Icon.open         { position: absolute; top: 15px; right: 10px; }

.Card.Doclink .Icon              { display: none!important; }
.Card.Doclink:hover .Icon        { display: block!important; }
