
.Login {
    position: relative;
    float: left;
    width: 280px;
    height: 360px;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    background: var(--BG1);
    font-size: 14px;
    font-weight: 200;
    color: var(--FG1);
}

.Login h2 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.Login button {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    border: 0px;
    background: var(--BG3);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: 600;
    color: var(--FG1);
    cursor: pointer;
}

.Login button.OK { bottom: 100px; }

.Login .Recover {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0px;
    font-size: 11px;
    font-weight: 200;
    text-align: center;
    color: var(--FG3);
    cursor: pointer;
}

.Login button.Disabled {
    color: var(--FG4);
    cursor: not-allowed;
}

.Login .MainMsg, .Login .ErrorMsg {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.Login .MainMsg     { margin: 35px 0px 10px 0px; color: var(--FG1); }
.Login .ErrorMsg    { margin: 35px 0px 10px 0px; color: var(--RED); }

.Login button.Active {
    background: var(--BLUE);
}
