
.Tree                   { width: 150px; height: 160px; border: 1px solid #777777; overflow-y: scroll; }
.Tree .Node             { float: left; width: 100%; margin-left: 10px;
                          font-size: 14px; font-weight: 400; user-select: none; cursor: pointer;  }
.Tree .Node .Item       { float: left; width: 100%; }
.Tree .Node .Item:hover { color: #FFFFFF; background: var(--BLUE); }

.Tree .Node .Value      { display: block; float: left; margin: 0px; padding: 2px 10px; }

.Tree .Node .Icon       { float: left; margin: 2px 0px; fill: #777777; }
